.modal_container .modal_body .title {
  display: inline-block;
  text-align: center;
}

.modal_container .modal_body .title h2 {
  margin-top: 0;
}

.modal_container .modal_body .form_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_container .upload_new_pic {
  margin: 10px;
  border: none;
  background-color: white;
  color: grey;
  border-radius: 8px;
  cursor: pointer;
}
.modal_inputs_container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.messages_container {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  font-size: 10px;
  margin-bottom: 35px;
}
.file_name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45ch;
}
